.SideNavBody {
  background-color: #35485c;
  height: 100vh;
  width: fit-content;
}

.SideNavMenu li {
  display: block;
  color: #bacad4;
  padding: 30px 30px 30px 0px;
}

.UserSideNavPic {
  background-color: red;
  border-radius: 100px;
  width: 80px;
  height: 80px;
}

.UserSideNavName {
  font-size: 18px;
  color: #bacad4;
}

.UserSideNavPicWrapper {
  padding-top: 30px;
}
