.SideNavBody {
  background-color: #35485c;
  height: 91vh;
  width: fit-content;
  text-align: left;
}

.UserSideNavPicWrapper {
  padding-top: 30px;
}

.UserSideNavPic {
  width: 80px;
  height: 80px;
  border: 2px solid #2d8de8;
}

.UserSideNavName {
  font-size: 18px;
  color: #edf1f2;
  margin: 10px;
}

.SideNavMenu {
  border-top: solid 2px #3c4041;
  border-bottom: solid 2px #3c4041;
}

.listHeaderSideNav {
  color: #bacad4;
  margin: 20px 0;
}

.SideNavMenu li {
  display: block;
  color: #bacad4;
  padding: 10px 30px 15px 0px;
}

.SideNavMenu li i {
  padding: 10px;
}
