.NavBarBody {
  background-color: #35485c;
  z-index: 1;
  margin-top: 20px;
  border-radius: 10px;
}

.SearchBarInput {
  width: 90%;
  height: 40px;
  padding: 10px;
  margin: 20px 0 10px 10px;
}

.SearchBarInput input {
  width: 70%;
}

.NavBarBodyText {
  color: #edf1f2;
  font-size: 18px;
  padding: 10px 15px;
}

.NavBarSearchIcon {
  display: inline-block;
  background-color: #edf1f2;
  height: 40px;
}
.NavBarSearchIcon i {
  padding: 10px 10px 0 10px;
  color: #35485c;
  height: 39px;
}
